<%= form_with(model: xml) do |form| %>
  <% if xml.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(xml.errors.count, "error") %> prohibited this xml from being saved:</h2>

      <ul>
        <% xml.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :xml_file %>
    <%= form.file_field :xml_file %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
